/* Adicione estilos específicos para o conteúdo dentro de Col */
.col-centered-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px; /* Ajuste a margem conforme necessário */
    
  }
  
  /* Estilos específicos para o h2 */
  .col-centered-content h2 {
    /* Adicione estilos específicos para o h2, se necessário */
  }
  
  /* Estilos específicos para o h6 */
  .col-centered-content h6 {
    /* Adicione estilos específicos para o h6, se necessário */
  }
#servicoo{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

#servico{
    background-color: rgb(158, 153, 153);
    color: rgb(255, 255, 255);
}
